<%- include("./utils/header.ejs") %>
<main id="main-content" class="main-container">    
    <div id="welcome-text">
        <h3 class="welcome-header">Welcome, Dev.</h3>
        <p class="welcome-msg">Hi there, I hope you have enjoyed this Tutorial.</p>
        <p class="welcome-msg-links">
            <h4 class="welcome-msg-links-header">For more Tutorials please follow me at;</h4>
            <div class="accounts">
                <span class="social-site">Twitter:</span> <a href="https://twitter.com/joshcodingenv" class="account-links">joshcodingenv</a>
                <span class="social-site">Github:</span> <a href="https://github.com/joshcodingenv" class="account-links">joshcodingenv</a>
                <span class="social-site">Youtube:</span> <a href="https://youtube.com/@joshcodingenv" class="account-links">@joshcodingenv</a>                
            </div>
        </p>
    </div>
</main>
<%- include("./utils/footer.ejs") %>