#header{
    display: flex;
    background-color: darkslategray;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
}

.main-menu{
    display: flex;
}

.logo{
    color: whitesmoke;
    font-size: 28px;
    font-family: "exo 2";
}

.nav-item{
    list-style: none;
}

.nav-item-link{
    color: whitesmoke;
    text-decoration: none;
    font-family: "maven pro";
    padding: 1em 1em;
    transition: border .3s ease-in;
}

.nav-item-link:hover{
    border-bottom: 2px solid salmon;
}