main{
    font-family: "maven pro";
}

#welcome-text{
    text-align: center;
    margin-top: 4em;
}

.welcome-header{
    font-size: 32px;
    font-weight: 600;
    margin: .5em 0;
}

.welcome-msg{
    margin: .5em 0;
    font-size: 24px;
}

.welcome-msg-links{
    margin: .5em 0;
}

.welcome-msg-links-header{
    font-size: 22px;
    font-weight: 500;
    color: crimson;
}

.social-site{
    font-weight: 500;
}

.accounts{
    margin: .5em 0;
    font-family: "maven pro";
    display: flex;
    flex-direction: column;
}

.account-links{
    font-size: 18px;
    margin: .5em 0;
}

/* form styles */
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-control{
    padding: 1em 1em;
    margin: .5em 0;
    width: 400px;
    border-radius: 3px;
    border: 2px solid lightslategray;
}

.btn-primary{
    padding: 1em 2em;
    margin: .5em 0;
    width: 400px;
    color: whitesmoke;
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue;
    border-radius: 3px;
}

/* table setup */
#users{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-header{
    width: 300px;
    padding: .5em;
}

.table-data{
    text-align: center;
}

/* btns */
.table-btns{
    display: flex;
    gap: .5em;
}

.btn-primary-1{
    padding: 1em;
    color: ghostwhite;
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue;
    border-radius: 3px;
    cursor: pointer;
}

.btn-primary-2{
    padding: 1em;
    color: ghostwhite;
    background-color: red;
    border: 2px solid red;
    border-radius: 3px;
    cursor: pointer;
}